:root {
    --primary-color: #FE740E;
    --accent-color: #ffc672;
    --fore-color: #c23cef;
    --white: #FFF;
    --main-cast-shadow: 0px 3px 12px rgba(0, 0, 0, 0.08),
        0px 3px 6px rgba(0, 0, 0, 0.12);
    --neumorphic-shadow: 0.3rem 0.3rem 0.6rem#c8d0e7,
        -0.2rem -0.2rem 0.5rem#FFFFFF;
}

.abs-img{
  position: absolute;
}
.abs-img:nth-child(1){
  top: 69px;
  left: 63px;
  z-index: 1;
}
.abs-img:nth-child(2){
  top: 150px;
  left: 155px;
  transform: scale(2.7);
}
.abs-img:nth-child(3){
  top: 58px;
  left: 318px;
  transform: scale(1.5);
  z-index: 1;
}
.abs-img:nth-child(4){
  top: 196px;
  left: 10px;
  transform: scale(1.5);
}
.greetings {
  display: flex;
  gap: 20px;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  color: #130019;
}

.greetings img {
  width: 50px;
  border-radius: 50%;
  border: 2px solid var(--accent-color);
  background-color: var(--primary-color);
}

.overview {
  position: relative;
  margin-bottom: 1.5rem;
  width: 80%;
  height: 180px;
  transition: 0.5s;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 15px;
  background-image: linear-gradient(
    90deg, rgba(118, 32, 146, 0.7)
    0%, rgba(117, 11, 115, 0.5)
    35%, rgb(255, 199, 114) 100%),
    url(../images/card_patern.jpg);

  background-size: cover;
  background-color: rgba(255, 209, 92, 0.25);
  border-radius: 10px;
  flex: 0 0 auto;
}

.ovw-1{
    background-image: linear-gradient(98.3deg, rgb(0, 0, 0, 0.8) 10.6%, rgb(192, 2, 2) 97.7%),
    url(../images/card_patern_1.jpg);
}

.ovw-2{
    background-image: linear-gradient(
    90deg, rgb(255, 199, 114, 0.7)
    0%, rgba(156, 108, 36, 0.5)
    35%, rgba(118, 32, 146) 100%),
    url(../images/card_patern_2.jpg);
}

.overview .title,
._text {
  color: var(--primary-color);
}

.overview button {
  border-radius: 25px;
  background-color: #b60f4736;
  padding: 4px 10px 4px 10px;
  color: var(--primary-color);
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;
  border: unset;
}

.ref-box {
  background: none;
  box-shadow: var(--neumorphic-shadow);
}
#myRef{
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7, inset -0.2rem -0.2rem 0.5rem #fff;
  background: none;
}

.copy-btn{
  box-shadow: var(--neumorphic-shadow);
  background: none;
  color: var(--primary-color);
  border-radius: 50%;
  padding: 10px 15px;
}

.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: none;
  border-radius: 50%;
  color: var(--fore-color);
  transition: transform 0.5s ease-in-out;
  box-shadow: var(--neumorphic-shadow);
  font-size: 25px;
}

.box{
    overflow: hidden;
    box-shadow: var(--neumorphic-shadow);
}

.box-body{
    z-index: 2;
}

.blob-card-img{
    position: absolute;
}
.blob-card-img:nth-child(1){
    top: 0px;
    left: 0px;
    width: 200px
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: var(--primary-color);
}

.profile-pic{
    width: 50px;
}

.earning-list{
    background: none;
  box-shadow: var(--neumorphic-shadow);
  border-bottom: 0px!important;
  margin-bottom: 10px;
}

/* ========================Old Css======================== */
.random-pop{
  position: fixed;
  top: 558px;
  right: 10px;
  display: none;
  z-index: 999;
}

.ads{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height:150px;
  background-color: #752092;
  border-radius: 15px;
  overflow: hidden;
  gap: 5px;
  margin: 40px 0;
}
.ads .ad-img{
  width: 170px;
}
.ads img{
  width: 100%;
}
.text-box{
  width: 60%;
  text-align: center;
  padding: 5px 5px;
  color: #fff;
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-box h4{
  font-weight: 700;
  letter-spacing: 2px;
}
.text-box h1{
  color: var(--fore-color);
  font-weight: 700;
}

.sc-bottom-bar {
    position: fixed;
    display: flex;
    padding: 16px 36px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8.3%;
    bottom:0;
    font-size: 26px;
    background: #ffffff;
    filter: drop-shadow(0px -1px 6px rgba(0, 0, 0, 0.08))
      drop-shadow(0px -2px 12px rgba(0, 0, 0, 0.12));

    transition: cubic-bezier(0.57, 0.23, 0.08, 0.96) 0.45s;
    z-index: 900;
  }

  .sc-menu-item {
    color: var(--fore-color);
    transition: ease-in-out 0.5s;
    cursor: pointer;
  }
  .sc-current {
    position: relative;
    color: var(--accent-color);
    z-index: 3;
    /* transform: translate3d(0px, -32px, 0px); */
  }

  .pop-menu .floating-btn i {
    /* font-size: 1.3em; */
    transition: transform .2s;
  }

  .pop-menu.active:after {
    transform: scale3d(5.5, 5.5, 1);
    transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
  }

  .pop-menu .items-wrapper {
    padding: 0;
    margin: 0;
  }

  .pop-menu .menu-item {
    position: absolute;
    bottom: -40px;
    right: 8.7em;
    z-index: -1;
    display: block;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 0.6em;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    text-align: center;
    line-height: 3;
    background-color: white;
    transition: transform .3s ease, background .2s ease;
  }

  .pop-menu .menu-item:hover {
    background-color: hsl(4, 98%, 60%);
  }

  .circpopular-menu.active .menu-item {
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .pop-menu.active .menu-item:nth-child(1) {
    transition: transform .9s ease, background .2s ease;
    background-color: var(--accent-color);
    transform: translate3d(0,-16.5em,0);
  }

  .pop-menu.active .menu-item:nth-child(2) {
    transition: transform .7s ease, background .2s ease;
    background-color: var(--accent-color);
    transform: translate3d(0,-13em,0);
  }

  .pop-menu.active .menu-item:nth-child(3) {
    transition: transform .5s ease, background .2s ease;
    background-color: var(--accent-color);
    transform: translate3d(0,-9.5em,0);
  }

  .pop-menu.active .menu-item:nth-child(4) {
    transition: transform .3s ease, background .2s ease;
    background-color: var(--accent-color);
    transform: translate3d(0,-6em,0);
  }

  .menu-item .menu-text{
    position: absolute;
    top:-0px;
    left: 60px;
    color: var(--primary-color);
  }

  /*================Forms=================*/
  .form-custom .form-primary{
    width: 100%;
    display: block;
    padding: 0.375rem 0.75rem;
    height:50px;
    border:unset;
    border-radius: 0;
    background-color: #7520924a !important;
    color: var(--fore-color) !important;
    transition: border 0.5s ease;
  }
  .form-custom .form-primary:focus{
    border: 2px solid #ffffff !important;
  }
